{% load static %} {% load i18n %}
<!-- Logout Modal-->
<div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "¿Salir?" %}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            {% trans "Seleccione 'Salir' para cerrar la sesión" %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancelar" %}</button>
            <a class="btn btn-primary" href="{% url 'bases:logout' %}">{% trans "Salir" %}</a>
        </div>
    </div>
</div>