{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block page_content %}

<style>
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .inputimage {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        /* width: 150px;
        height: 150px; */
        margin-bottom: auto;
        opacity: 0;
    }
    .img-circle {
        border-radius: 100%;
    }
    </style>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">{% trans "Ubicaciones" %}</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:home' %}"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">{% trans "País" %}</a>
                                </li>
                                <li class="breadcrumb-item active">{% trans "Nuevo" %}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{% if obj %} {% trans "Editar " %} {% else %} {% trans "Nuevo " %} {% endif %} {% trans "Pais" %}</h4>
                                <a class="heading-elements-toggle">
                                    <i class='bx bx-dots-vertical font-medium-3'></i>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" class="form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.nombre }}
                                                        <label for="id_nombre">{% trans "Nombre" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.region }}
                                                        <input type="text" hidden>
                                                        <label for="id_region">{% trans "Región" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.iniciales }}
                                                        <label for="id_iniciales">{% trans "Iniciales" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.simbolo_moneda }}
                                                        <label for="id_simbolo_moneda">{% trans "Símbolo moneda" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.prefijo_cel }}
                                                        <label for="id_prefijo_cel">{% trans "Prefijo celular" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        <select name="zona_horaria" id="id_zona_horaria" class="form-control">
                                                            <option value="0">{% trans "Seleccionar" %}</option>
                                                            {% for zona in zonas_horarias %}
                                                            <option value="{{ zona }}">{{ zona }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <input class="form-control" hidden>
                                                        <label for="email-id-column">{% trans "Zona horaria" %}</label>
                                                        <div id="peso_error" class="invalid-feedback">
                                                            {% trans "Seleccione un origen" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        <img id="id_tmp_bandera" name="tmp_bandera" {% if obj.bandera %} src="{{ obj.bandera.url }}" {% else %} src="{% static  'base/img/icons/nofoto2.png' %}"  {% endif %} class="center img-fluid pointer">
                                                        <input onchange="seleccionarImagen('id_tmp_bandera','id_bandera')" type="file" name="bandera" id="id_bandera" class="inputimage center pointer" width="100%">
                                                        <label for="id_bandera">{% trans "Bandera" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            {{ form.decimales }}
                                                            <label for="id_decimales">{% trans "Cifras decimales" %}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.separador_miles }}
                                                        <label for="id_prefijo_cel">{% trans "Separador de miles" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-label-group">
                                                        {{ form.separador_decimal }}
                                                        <label for="id_prefijo_cel">{% trans "Separador de decimales" %}</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary mr-1 mb-1">{% trans " Guardar" %}</button>
                                                    <a href="{% url 'ubc:paises_lista' %}" class="btn btn-light-secondary mr-1 mb-1">{% trans " Cancelar" %}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    $(document).ready(function(){
        zona_horaria = '{{ obj.zona_horaria }}';
        $('#id_zona_horaria').val(zona_horaria)
    });

    function validarImagen(elemento){
        var peso_max_img = parseInt('{{ peso_max_img.valor }}');
        var ext_perm_img = eval('{{ ext_perm_img.valor }}');
        peso_max_img = (peso_max_img * 1024) * 1024;
        var fileInput = document.getElementById(elemento);
        var filePath = fileInput.value;
        if(!ext_perm_img.exec(filePath)){
            mensaje('{% trans "Archivo debe ser una imagen" %}', 'red');
            fileInput.value='';
            return false;
        } else {
            file = fileInput.files[0];
            if(file.size > peso_max_img){
                mensaje('{% trans "Archivo supera el tamaño máximo permitido" %}', 'red');
                fileInput.value='';
                return false;
            } else {
                return true;
            }
        }
    }

    function seleccionarImagen(tmp, elemento){

        var preview = $('#'+tmp);
        var input = $('#'+elemento);
        var file    = input.prop('files')[0];
        var reader  = new FileReader();

        reader.onloadend = function () {
            preview.attr('src', reader.result);
        }

        if (file) {
            if(validarImagen(elemento)){
                reader.readAsDataURL(file);
            } else {
                preview.src = "{% static 'base/img/icons/nofoto2.png' %}";
            }
        } else {
            preview.src = "";
        }

    }

    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    mensaje('{{ field.name }}{{ error|escape }}', 'red');
                {% endfor %}
            {% endif %}
        {% endfor %}
    
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                    mensaje('{{ error|escape }}', 'red');
            {% endfor %}
        {% endif %}
    {% endif %}
</script>
{% endblock %}