{% load static %} {% load i18n %}
<!-- Logout Modal-->
<div class="modal-dialog modal-dialog-centered modal-s">
    <div class="modal-content">
        <div class="modal-header">
            {% if anchura.estado.descripcion == 'ACTIVO' %}
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Inactivar anchura" %}</h5>
            {% else %}
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Activar anchura" %}</h5>
            {% endif %}
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            {% if anchura.estado.descripcion == 'ACTIVO' %}
            {% trans "Se inactivará la anchura seleccionada " %}{{ anchura }}
            {% else %}
            {% trans "Se activará la anchura seleccionada " %}{{ anchura }}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancelar" %}</button>
            {% if anchura.estado.descripcion == 'ACTIVO' %}
            <a class="btn btn-primary" onclick="actualizarAnchura()" href="#">{% trans "Inactivar" %}</a>
            {% else %}
            <a class="btn btn-primary" onclick="actualizarAnchura()" href="#">{% trans "Activar" %}</a>
            {% endif %}
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){

    });


    function actualizarAnchura(){

        estado = '{{ anchura.estado }}';
        id_anchura = '{{ anchura.id_anchura }}';
        var token = '{{ csrf_token }}';
        dato = {
        'estado': estado
        }
        var datos = JSON.stringify(dato);

        var url = "{% url 'ctg:anchuras_actualizar' 0 %}";
        url = url.replace(/0/, id_anchura);

        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            url: url,
            type: "POST",
            data: datos,
            success: function(response) {
                location.reload(true);
                // window.location = template;
            },
            error: function(jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                alert("error: " + errorThrow); // pendiente mostrar error de clave duplicada
            }
        });
    }
</script>