{% load i18n %}
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{% trans "Agregar adicionales" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="row align-items-center ">
                        {% for item in obj %}
                        <div class="col-12 col-lg-4 col-md-6 mr-auto ml-md-auto">
                            {% if item.adicional.estado_id == 1 %}
                            <div class="card widget-img-top">
                                <div class="card-content">
                                    <img class="card-img-top mb-1" width="150px" height="150px" src="{{ item.adicional.imagen.url }}" alt="Card image cap" />
                                    <div class="heading-elements">
                                        <i class="bx bx-dots-vertical-rounded font-medium-3 align-middle text-white"></i>
                                    </div>
                                    <div class="text-center">
                                        <p>{{ item.adicional.descripcion }}</p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" onclick="return abrir_modal('{% url 'trn:ordenes_agregar_adicional' id_orden item.adicional.id_adicional %}')" class="btn btn-primary glow px-4">{% trans "Agregar" %}</button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- {% if user.tipo_usuario.descripcion == 'USUARIO TALLER' %}
            <button type="button" onclick="crearAdicional()" class="btn btn-primary">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">{% trans "Crear" %}</span>
            </button>
            {% endif %} -->
        </div>
    </div>
</div> 
<script>
    function crearAdicional(){
        url = "{% url 'ctg:adicional_modal' %}";
        return abrir_modal(url);
    }

    
    
    // function guardasAd(){
    //     if($('#id_imagen').val() === ''){
    //         mensaje('{% trans "Falta cargar una imagen" %}', 'orange');
    //         return;
    //     }

    //     if($('#id_sku').val() === ''){
    //         mensaje('{% trans "Ingrese SKU de la piedra" %}', 'orange');
    //         return;
    //     }

    //     if($('#id_descripcion').val() === ''){
    //         mensaje('{% trans "Ingrese una descripción" %}', 'orange');
    //         return;
    //     }

       
    //     form = document.getElementById('formAdicionales');
    //     let data = new FormData(form);
    //     let token = '{{ csrf_token }}';

    //     // let piedra_id = '{{ piedra.id_piedra }}';

    //     let url = "{% url 'ctg:piedras_crear' %}";
    //     // let template = url_modificada.replace(/0/, piedra_id);
    //     console.log(data)
    //     $.ajax({
    //         headers: {
    //             "X-CSRFToken": token
    //         },
    //         type: "POST",
    //         url: url,
    //         data: data,
    //         contentType: false,
    //         processData: false,
    //         success: function(response){
    //             cerrar_modal();
    //         },
    //         error: function(jqXHR, textStatus, errorThrow){
    //             console.log(textStatus, errorThrow);
    //             alert("error: " + errorThrow); // pendiente mostrar error de clave duplicada
    //         }
    //     });
    
    // }
</script>